# dot files
/.env
/.env.example
/.claude
/.github
/.dockerignore
/.gitignore

# Playwright
/blob-report/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/test-results/
/playwright.config.js

# other files never use on production
/Dockerfile
/LICENSE
/README.md
/data
/docker-compose.yaml
/docs
/logo.png
/mocha.api.js
/mocha.unit.js
/node_modules
/research
/tests
