AUTHWALL_PUBLIC_URL=http://localhost:3000
AUTHWALL_TARGET_URL=http://localhost:8080
AUTHWALL_SECRET=demo_demo_demo_demo_demo_demo_demo
AUTHWALL_MYSQL=mysql://authwall:authwall@mysql/authwall
AUTHWALL_GOOGLE_CLIENT_ID=
AUTHWALL_GOOGLE_CLIENT_SECRET=
AUTHWALL_GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback
