AUTHWALL_LOGGER=stdout
AUTHWALL_PUBLIC_URL=http://127.0.0.1:3000
AUTHWALL_TARGET_URL=http://127.0.0.1:8080

# Generate with: bin/random-secret
AUTHWALL_SECRET=

AUTHWALL_DB=mysql://authwall:authwall@mysql/authwall

AUTHWALL_GOOGLE_CLIENT_ID=
AUTHWALL_GOOGLE_CLIENT_SECRET=
AUTHWALL_GOOGLE_REDIRECT_URL=http://127.0.0.1:3000/auth/google/callback

AUTHWALL_GITHUB_CLIENT_ID=
AUTHWALL_GITHUB_CLIENT_SECRET=
AUTHWALL_GITHUB_REDIRECT_URL=http://127.0.0.1:3000/auth/github/callback

AUTHWALL_MAILER=auto

# https://resend.com
AUTHWALL_RESEND_KEY=
AUTHWALL_RESEND_FROM="Authwall <noreply@domain.com>"

# https://dev.mailjet.com/email/guides/send-api-v31/#send-a-basic-email
AUTHWALL_MAILJET_KEY=
AUTHWALL_MAILJET_SECRET=
AUTHWALL_MAILJET_FROM="Authwall <noreply@domain.com>"

# https://docs.aws.amazon.com/ses/latest/APIReference-V2/API_SendEmail.html
# Optional, defaults to us-east-1
AUTHWALL_SES_REGION=
AUTHWALL_SES_KEY=
AUTHWALL_SES_SECRET=
AUTHWALL_SES_SESSION_TOKEN=
AUTHWALL_SES_FROM="Authwall <noreply@domain.com>"

AUTHWALL_DENIED_EMAILS=
AUTHWALL_ALLOWED_EMAILS=
AUTHWALL_DENIED_DOMAINS=tempmail.dev,disposablemail.com
AUTHWALL_ALLOWED_DOMAINS=company.com,example.org
