AUTHWALL_MYSQL=mysql://authwall:authwall@mysql/authwall
AUTHWALL_TARGET=http://echo-server:8080
AUTHWALL_SESSION_SECRET=hello
AUTHWALL_GOOGLE_CLIENT_ID=
AUTHWALL_GOOGLE_CLIENT_SECRET=
AUTHWALL_GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback
