form {
    display: block;
    width: 400px;
    border: 1px dashed;
    padding: 10px 5px;
    margin-top: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
}

#error {
    background: #f88;
    padding: 10px 5px;
    border: 1px dashed;
    width: 400px;
}

#error:empty {
    display: none;
}

img[src=""] {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    cursor: pointer;
}

.current {
    font-weight: bold;
}
